@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
    --black: #150605;
    --red: #EA453C;
    --ochre: #e2bf4c;
    --light-blue: #EFFBFE;
    --blue: #ACE6EC;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    min-height: 100vh;
    position: relative;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ochre);
    color: var(--light-blue);
    padding: 0 30px;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
    -moz-box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
    box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
}

main.photos {
    padding: 10px;
    display: grid;
    grid-gap: 2px;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: dense;
    padding-bottom: 2.5rem;
}

main.cart-page {
    padding: 10px;
    padding-bottom: 2.5rem;
}

.cart-page>h1 {
    text-align: center;
}

.cart-page .total-cost {
    text-align: right;
    font-size: 1.3em;
}

.cart-page div.order-button {
    display: flex;
    justify-content: center;
}

div.order-button>button {
    cursor: pointer;
    padding: 15px 40px;
    transition: all .2s ease-in-out;
    background-color: var(--ochre);
    color: white;
    font-family: 'Itim', cursive;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 3rem;
}

div.order-button>button:hover {
    background-color: #b89b3f;
}

div.order-button>button:focus {
    outline: none;
}

div.order-button>button:disabled {
    border-color: lightgray;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    box-shadow: 0px 0px 10px rgb(173, 173, 173);
    padding: 10px;
    border-radius: 10px;
}

.cart-item img {
    margin-right: auto;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 7px;
}

img.image-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    position: relative;
}

.favorite {
    color: var(--red);
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.ri-heart-fill {
    opacity: .7;
}

.ri-delete-bin-line,
.ri-delete-bin-fill {
    font-size: 1.3em;
    cursor: pointer;
}

.cart {
    color: var(--blue);
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--light-blue);
}

a:hover {
    color: var(--light-blue);
}

a:active {
    color: var(--light-blue);
}

.noitem-cart {
    font-size: 2rem;
    text-align: center;
}

footer {
    background-color: #b89b3f;
    color: #eee9d9;
    text-align: center;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer a {
    color: #d6cba8 !important;
    transition: .2s;
}

footer a:hover {
    color: white !important;
}